body {
  align-items: center;
  background-color: #217cbf;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  width: 100%;
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  margin-bottom: 6px;
  margin-top: 6px;
}

#salida {
  background-color: rgb(240, 240, 240);
  padding: 8px;
  width: 240px;
}

#ejecucion {
  display: none;
  margin-bottom: 8px;
}

.btn {
  background-color: #8fd0ff;
  border: 1px solid rgba(9, 9, 9, 0.45);
  border-radius: 3px;
  color: #0a304b;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 8px 16px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.contenedor-principal {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.7);
  margin: 30px 0;
  padding: 20px;
  position: relative;
  width: 60%;

  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.certificada {
  color: #365758;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  text-align: right;
}

.contenedor-ciclo-for {
  font-size: 20px;
  font-weight: 600;
}

.contenedor-ciclo-for > .inicializacion {
  background-color: #ff8989;
}

.contenedor-ciclo-for > .condicion {
  background-color: #97ff97;
}

.contenedor-ciclo-for > .incremento-decremento {
  background-color: #ffff8f;
}

.contenedor-ciclo-for > .codigo-ejecutando {
  background-color: #8f8f8f;
  color: white;
}

.contenedor-ciclo-for > .inicializacion,
.contenedor-ciclo-for > .condicion,
.contenedor-ciclo-for > .incremento-decremento {
  padding: 2px 12px;
}

/* Colores de código */
.codigo-sentencia {
  color: blue;
}

.codigo-comentario {
  color: green;
}

.string {
  color: #1da5aa;
}

@media screen and (max-width: 990px) {
  .contenedor-principal {
    width: 90%;
  }
}
